/* *********************************** */
/* ********** MEDIA QUERIES ********** */
/* *********************************** */

/*

- SPACING SYSTEM (px)

2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- FONT SIZE SYSTEM (px)

10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

*/

/**********************************/
/* BELOW 1345px ( SMALLER DESKTOPS ) */
/**********************************/

@media (max-width: 1345px) {

  .container-profile {
    max-width: 1250px;
    /* Temp */
    margin-left: 20px;
    margin-right: 220px;
  }
}

/**********************************/
/* BELOW 1200px ( LANDSCAPE TABLETS ) */
/**********************************/

@media (max-width: 1200px) {

  .container-profile {
    max-width: 1100px;
    /* Temp */
    margin-left: 30px;
    margin-right: 220px;
  }

  .profile-banner {
    height: 150px;
  }

  .grid--3--cols {
    grid-template-columns: repeat(2, 1fr);
  }

  #open-menu-btn{
    display: inline-block;
    border: none;
    background: transparent;
    height: 24px;
    width: 24px;
    font-size: 24px;
  }
  
  #close-menu-btn{
    /* display: inline-block; */
    border: none;
    background: transparent;
    height: 24px;
    width: 24px;
    font-size: 24px;
  }

  
  .batch {
    padding: 0;
  }
  
  .batch-year{
    padding: 0;
    left:0;
    top: 0;
  } 
  
  .batch-year ul{
    flex-direction: row;
    width: 100%;
    gap: 0;
  }

  .batch-year ul li a{
    width: 145px;
  }

  .batch-year {
    border: none;
  }

.nav__menu {
  position: fixed;
  top: 5rem;
  right: 0%;
  height: fit-content;
  width: 18rem;
  flex-direction: column;
  gap: 0;
  display: none;
}
.nav__menu li {
  width: 100%;
  height: 5.8rem;
  animation: animatenavitems 400ms linear forwards;
  /* transform-origin: top right; */
  opacity: 0;
}

.nav__menu li a {
  background-color: #f6fba2;
  background-image: linear-gradient(315deg, #f6fba2 0%, #20ded3 74%);

  box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.nav__menu li a:hover {
  background: linear-gradient(to top left, #000000, #55efc4);

  color: var(--color-white);
}}


/**********************************/
/* BELOW 900px ( TABLETS ) */
/**********************************/

@media (max-width: 900px) {

  .container-profile {
    max-width: 800px;
    margin: 0 auto;
  }
  .grid--3--cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .list-items-icon{
    font-size: 32px;
    display: inline-block;
  }

  .list-items {
    display: none;
  }

  .grid {
    row-gap: 48px;
    column-gap: 48px;
    justify-content: center;
  }
}

/**********************************/
/* BELOW 700px ( SMALLER TABLETS ) */
/**********************************/

@media (max-width: 700px) {

  .container-profile {
    max-width: 600px;
    margin: 0 auto;
  }

  .logo-title{
    margin-right: 5rem;
  }

  .list-items-icon{
    font-size: 28px;
  }

  .grid--3--cols {
    grid-template-columns: 350px;
  }

  
}

/**********************************/
/* BELOW 545px ( PHONES ) */
/**********************************/

@media (max-width: 545px) {

  .logo{
    gap: 20px;
  }

  .logo-title{
    font-size: 14px;
  }

  .list-items-icon{
    font-size: 28px;
  }

  .container-profile {
    max-width: 450px;
  }

  .heading-secondary {
    font-size: 16px;
  }

  .skills,
  .profile-skills,
  .profile-bio,
  .profile-content {
    font-size: 12px;
  }

  .profile-link a:link,
  .profile-link a:active {
    font-size: 8px;
  }
}

/**********************************/
/* BELOW 420px ( LARGER PHONES ) */
/**********************************/

@media (max-width: 420px) {
  .container-profile {
    max-width: 400px;
  }

  .list-items-icon{
    font-size: 24px;
  }

  .grid--3--cols {
    grid-template-columns: 325px;
  }
}

/**********************************/
/* BELOW 380px ( SMALLER PHONES ) */
/**********************************/

@media (max-width: 380px) {
  .container-profile {
    max-width: 350px;
  }

  .logo{
    gap: 10px;
  }

  .logo-title{
    margin-right: 1rem;
  }

  .grid--3--cols {
    grid-template-columns: 300px;
  }
}
