/* =============universal selector property============ */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
/* =============css variables=========== */
:root {
  --color-primary: #6c63ff;
  --color-sucess: #00bf8c;
  --color-danger: #f75842;
  --color-warning: #f7c949;
  --color-danger-variant: #rgba(247, 88, 66, 0.4);
  --color-white: #fff;
  --color-light: #rgba(255, 255, 255, 0.7);
  --color-black: #000;
  --color-bg: #1f2641;
  --color-bg1: #2e3267;
  --color-bg2: #424890;
  /*===================== doubt😓💡============================= */
  --container-width-1g: 80%;
  --container-width-md: 90%;
  --container-width-5m: 94%;
  --transition: all 400ms ease;
}
/* ============= end the css variables=========== */
/* ================basic styles====================== */

img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* 😓-==================doubt====================💡 */

section {
  padding: 4rem 0;
  /* 6rem im changed */
  /* 1 rem=16px */
}
section h2 {
  text-align: center;
  margin-bottom: 3.5rem;
  /* 5rem */
}
.student__title h2 {
  margin-bottom: 1.5rem;
}
/* ======================================= */
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}
h1 {
  font-size: 2.4rem;
  /* 2.4 rem is equal to 36.8px */
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
  /* 1.6 remis equal to 25px */
}
h4 {
  font-size: 1.3rem;
  /* 1.3 remis equal to 20px */
}
a {
  /* color: var(--color-white); */
  color: #000;
}
/* 😓-==================doubt====================💡 */
*
/* ======================================================== */
.containerrr>.btn :hover {
  color: black;
}
.btn {
  display: inline-block;
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 1rem 1rem;
  border: 1px solid transparent;
  font-weight: 500;
  transition: var(--transition);
}
.btn :hover {
  background-color: transparent;
  color: var(--color-white);
  border-color: var(--color-white);
}
.btn-primary {
  /* background: var(--color-danger); */
  background: white;

  color: #000;
  font-weight: bold;
  /* border-radius: 8px; */
}
.btn-primary1 {
  background: white;

  color: #000;
  font-weight: bold;
  border-radius: 8px;
  /* box-shadow: 4px 4px 4px #faea10;
  filter: drop-shadow(4px 4px 2px #4bc938); */
}
/* #donatebtn {
  margin-left: 150px;
} */
/* ===============end of basic style====================== */
/* =============nav bar ====================== */

/*

- SPACING SYSTEM (px)

2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- FONT SIZE SYSTEM (px)

10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

*/

body {
  font-family: "montserrat", sans-serif;
  color: #000;
  overflow-x: hidden;
  line-height: 1.7;
  background: linear-gradient(to top left, #000000, #55efc4);
}

html {
  overflow-x: hidden;

  scroll-behavior: smooth;
}

a {
  color: #000;
}

/* =============css variables=========== */
:root {
  --color-primary: #6c63ff;
  --color-sucess: #00bf8c;
  --color-danger: #f75842;
  --color-warning: #f7c949;
  --color-danger-variant: rgba(247, 88, 66, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.7);
  --color-black: #000;
  --color-bg: #1f2641;
  --color-bg1: #2e3267;
  --color-bg2: #424890;
  /*===================== doubtðŸ˜“ðŸ’¡============================= */
  --container-width-1g: 80%;
  --container-width-md: 90%;
  --container-width-5m: 94%;
  --transition: all 400ms ease;
}

.main-nav {
  background: transparent;
  width: 100vw;
  height: 5rem;
  /* 5rem=80px */
  position: fixed;
  top: 0;
  z-index: 11;
}

.container {
  width: 80%;
  margin: auto;
}

.nav__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo img {
  width: 55px;
  height: 55px;
  overflow: hidden;
  margin: 0 auto 0;
}

nav button {
  display: none;
}

#open-menu-btn,
#close-menu-btn {
  display: none;
}

.nav__menu {
  display: flex;
  align-items: center;
  gap: 4rem;
  /* 64px = 4rem*/
  position: relative;
}

/**********************************/
/************** BATCHS ************/
/**********************************/

.batch {
  cursor: pointer;
  position: relative;
  padding: 20px 0;
  transition: all 0.3s;
}

.batch-year {
  display: none;
  position: absolute;
  top: 90%;
  left: -30%;
  width: 160px;
  background-color: #fff;
  box-shadow: 0 12px 48px 0 rgba(0, 0, 0, 0.075);
  border-radius: 3px;
  padding: 12px;
  z-index: 98;
  border: 1px solid rgba(0, 0, 0, 0.185);
  background-color: #fafafa;
}

/* Dropdown Hover Effect */
.batch-child {
  display: block;
  text-align: center;
  width: 150px;
  z-index: 99;
  background: linear-gradient(to top left, rgb(24, 24, 24), #55efc4);
}
/* END */

.batch-year ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}

.batch:hover .batch-year ul li a {
  color: black;
}

.batch:hover .batch-year ul li a:hover {
  color: white;
}

/* ************** */
/* END OF BATCHES */
/* ************** */

.nav__menu a {
  font-size: 0.9rem;
  /* 0.9 rem=14.4px */
  transition: var(--transition);
}

.nav__menu a:hover {
  /* color: var(--color-bg2); */
  /* color: #4bc938; */
  color: white;
}

.logo-title {
  margin-right: 10rem;
  font-size: 1rem;
}

/* =============change navbar style on scroll===================== */
.window_scroll {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  background-color: #f6fba2;
  background-image: linear-gradient(315deg, #f6fba2 0%, #20ded3 74%);
}
/* ====================header section==================================== */
header {
  position: relative;
  top: 5rem;
  overflow: hidden;
  height: 70vh;
  margin-bottom: 6rem;
  margin-top: 2rem;
}
.header__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  height: 100%;
}
.header__left p {
  margin: 1rem 0 2.4rem;
}
/* ====================categories==================================== */
.categories {
  background: #88bd8c;
  height: 49rem;
}
.categories h2 {
  line-height: 1.5;
  margin-bottom: 1rem;
  /* margin-bottom: 3rem; */
}
.categories__container {
  display: grid;
  grid-template-columns: 30% 70%;
  /* grid-template-columns: 40% 60%; */
  /* gap: 4rem; */
}
.categories__left {
  margin-right: 4rem;
  height: 29rem;
}
.categories__left p {
  margin: 3rem 0 1rem;
  /* margin:1rem 0 3rem; */
}

.categories__right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}
.category {
  background: linear-gradient(to top left, #000000, #55efc4);
  color: white;
  padding: 2rem;
  border-radius: 2rem;
  transition: var(--transition);
}

.category:hover {
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.category__icon {
  background: var(--color-primary);
  color: black;
  padding: 0.7rem;
  border-radius: 0.9rem;
}
.category:nth-child(2) .category__icon {
  background: var(--color-danger);
  color: black;
}
.category:nth-child(3) .category__icon {
  background: greenyellow;
  color: black;
}
.category:nth-child(4) .category__icon {
  background: var(--color-warning);
  color: black;
}
.category:nth-child(5) .category__icon {
  background: greenyellow;
  color: black;
}
.category p {
  font-size: 0.85rem;
}
.category h5 {
  margin: 2rem 0 1rem;
  /* color: white; */
}

/* ====================courses================================ */
.courses {
  margin-top: 4rem;
}
.courses__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.course {
  /* background: linear-gradient(to top right, #000000, #55efc4); */
  background: #88bd8c;

  color: white;

  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}
.course:hover {
  background: transparent;

  border-color: black;
}
.course__info {
  padding: 2rem;
}
.course__info p {
  margin: 1.2rem 0 2rem;
  font-size: 0.9rem;
}
/* ====================end of courses==================================== */
/* ====================Testimonal=================================== */
.testimonal__container {
  overflow-x: hidden;
  position: relative;
  margin-bottom: 1rem;
  /* margin-top: 0.2rem; */
  color: black;
}
/*   */
.full__testimonal {
  background: #88bd8c;
  box-shadow: inset 0.5rem 0 3rem rgba(0, 0, 0, 0.8);
}
.testimonal {
  padding-top: 1rem;
}
.avatar {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 1rem;

  /* linear-gradient(to top right, #000000, #55efc4); */
  border: 0.5rem solid #20ded3;
}
.testimonal__info {
  text-align: center;
}
.testimonal__body {
  /* background-color: #f6fba2; */
  background-image: linear-gradient(315deg, #f6fba2 0%, #20ded3 74%);

  /* background-color: azure; */
  /* background-color: #11998e #38ef7d; */
  border: 4px solid #20ded3;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.5);

  padding: 2rem;
  margin-top: 3rem;
  position: relative;
  color: black;
}
.testimonal__body::before {
  content: "";
  display: block;
  /* background red, and then remove that use linear gradient 
  instead of using transparent use 135 deg */
  /* 😓-==================doubt====================💡😅💡💡 */

  background: linear-gradient(transparent, #20ded3, #20ded3, #20ded3, #20ded3);
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 50%;
  top: -1.5rem;
  transform: rotate(45deg);
}
/* ====================faqs==================================== */
/* .faqs {
  background: #88bd8c;

  box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.8);
} */
.faqs__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.faqs h2 {
  color: white;
}
.faq {
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  /* 😓-==================doubt====================💡 */
  height: fit-content;
  background-color: #f6fba2;
  background-image: linear-gradient(315deg, #f6fba2 0%, #20ded3 74%);
  cursor: pointer;
}
.faq h4 {
  font-size: 1rem;
  line-height: 2.2;
}
.faq__icon {
  align-self: flex-start;
  font-size: 1.2rem;
}
/* by me..................... */
.faq a,
.testimonal a {
  font-size: 1.3rem;
  color: blue;
}
.faq p {
  margin-top: 0.8rem;
  display: none;
}
.faq.open p {
  display: block;
  /* refer with markup code 😋 */
}

/**********************************/
/************ FOOTER **************/
/**********************************/

.container-footer {
  max-width: 1200px;
  padding: 0 32px;
  margin: 0 auto 32px auto;
}

.footer {
  background: #88bd8c;
  padding: 80px 0 30px 0;
  border-top: 2px solid #eee;
}

.grid-footer {
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  display: grid;
  gap: 48px;
}

.home-cols {
  display: flex;
  flex-direction: column;
}

.home-logo {
  display: flex;
  align-items: center;
}

.home-logo a,
.ryde-logo {
  display: inline-block;
}

.ryde-logo {
  height: 100px;
  width: 135px;
  overflow: hidden;
}

.ryde-heading {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 48px;
  letter-spacing: 1.2px;
}

.footer-heading {
  color: #181818;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 48px;
  word-spacing: 3px;
}

.social-links {
  display: flex;
  gap: 24px;
  margin-bottom: 80px;
}

.social-links li svg {
  height: 25px;
}

.copyright {
  margin-top: auto;
  font-size: 14px;
  line-height: 1.6;
  color: #353535;
  /* temp */
  margin-bottom: 24px;
}

.contact-cols {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.address,
.contact {
  margin-bottom: 24px;
}

.address p {
  font-size: 15px;
  letter-spacing: 1.3px;
  line-height: 1.5;
}

.address,.contact p {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  letter-spacing: 1.3px;
  line-height: 1.5;
}

.contact svg {
  width: 26px;
  height: 26px;
}

/* Menu-cols */

.menu-cols {
  display: flex;
  flex-direction: column;
  padding-left: 20%;
}

.menu-cols div {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.nav-menu {
  display: inline-block;
  font-size: 15px;
  letter-spacing: 1.2px;
  line-height: 1.5;
}

/* Terms * conditions */

.rules-cols {
  display: flex;
  flex-direction: column;
}

.rules-cols div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  letter-spacing: 1.2px;
  line-height: 1.5;
}

/* Credits Portions */

.credits-box {
  text-align: center;
}

.credits {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.credits-inner {
  width: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /* gap:24px */
}

.credits-name-box-1 {
  padding-right: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.credits-name-box-2 {
  padding-left: 10px;
  border-left: 1px double rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.credits-name-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.footer-img {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.credits-name {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
}


hr {
  margin-bottom: 24px;
  border: 1px solid rgb(20, 20, 20);
}

.credits {
  text-align: center;
  font-size: 16px;
}

/* *********************** */
/* ******** COMMON ******* */
/* *********************** */

.nav-menu:hover,
.rules-menu:hover {
  color: white;
}

/* ***** End Of Common ***** */


/* ====================media query section 😅💡=================================== */

/* ====================basic styles=================================== */
@media screen and (max-width: 1024px) {



  h1 {
    font-size: 2.2rem;
    /* default h1 size 34 px 2.125 rem*/
  }
  h2 {
    font-size: 1.6rem;
    /* default h2 size 30 px 1.875 rem*/
  }
  h3 {
    font-size: 1.4rem;
    /* default h3 size 24 px 1.5 rem*/
  }
  h4 {
    font-size: 1.2rem;
    /* default h4 size 20 px 1.25rem*/
  }
 
  /* ====================animation================================== */
@keyframes animatenavitems {
  0% {
    transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
  }

  100% {
    transform: rotateZ(0) rotateX(0) scale(1);
    opacity: 1;
  }
}

/* ====================nth child chnages================== */
.nav__menu li:nth-child(2) {
  animation-delay: 200ms;
}

.nav__menu li:nth-child(3) {
  animation-delay: 400ms;
}

.nav__menu li:nth-child(4) {
  animation-delay: 600ms;
}

.nav__menu li:nth-child(5) {
  animation-delay: 800ms;
}
  /* ====================header=============================== */
  header {
    height: 52vh;
    margin-top: 3rem;
    margin-bottom: 8rem;
  }
  .header__container {
    gap: 0;
    padding-bottom: 3rem;
  }
  .btn-primary1 {
    /* background: var(--color-danger); */
    background: white;
    padding: 10px;
    color: #000;
    font-weight: 500;
    border-radius: 8px;
    /* box-shadow: 4px 4px 4px #faea10; */
    /* filter: drop-shadow(4px 4px 2px black); */
  }
  #donatebtn {
    margin-left: 150px;
    margin-bottom: 50px;
  }
  /* ====================categories============================== */
  .categories {
    height: auto;
  }
  .categories__container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .categories__left {
    margin-right: 0;
  }
  .categories__left p {
    margin-bottom: 1rem;
    padding: 20px;
    line-height: 2rem;
  }
  /* ====================popular course============================== */

  .courses {
    margin-top: 1rem;
  }
  .courses__container {
    grid-template-columns: 1fr 1fr;
  }
  /* ====================faqs============================= */
  .faqs__container {
    grid-template-columns: 1fr;
  }
  .faq {
    padding: 1.5rem;
  }
  

/* /* =======================media queries for phones 📱========= */

@media screen and (max-width: 600px) {
  h4 {
    font-size: 1rem;
  }
  
  /* ====================header=======================}==== */
  header {
    height: 100vh;
  }
  .header__container {
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 0;
  }
  .header__left p {
    margin-bottom: 1rem;
  }

  .btn-primary1 {
    /* background: var(--color-danger); */
    background: white;
    padding: 5px;
    /* margin-left: 50px;
    margin-right: 50px;
    margin-top: 150px; */
    color: #000;
    font-weight: 500;
    border-radius: 8px;
    /* margin-top: 50px; */
    /* box-shadow: 4px 4px 4px #faea10; */

    /* filter: drop-shadow(4px 4px 2px black); */
  }
  #startbtn {
    margin-right: 200px;
    margin-top: 50px;
  }
  #donatebtn {
    margin-left: 150px;
    /* margin-top: 50px; */
    margin-right: 30px;
    margin-bottom: 50px;
  }

  /* ====================categories=======================}==== */
  .categories__right {
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
  }
  .category {
    padding: 1rem;
    border-radius: 1rem;
  }
  .category__icon {
    margin-top: 4px;
    display: inline-block;
  }
  /* ====================popular courses======================}==== */
  .courses__container {
    grid-template-columns: 1fr;
  }

  /* ====================testimonial======================}==== */

  .testimonal__body {
    padding: 1.4rem;
  }
  /* ====================footer=====================}==== */

  .footer__container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
  }
  .footer__1 p {
    margin: 1rem auto;
  }
  .footer__socials {
    justify-content: center;
  }
}}
